# **16 September 2023**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [ ]:
path_opsd = 'https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/opsd_germany_daily.csv'

data= pd.read_csv(path_opsd)

data

            Date  Consumption     Wind   Solar  Wind+Solar
0     2006-01-01   1069.18400      NaN     NaN         NaN
1     2006-01-02   1380.52100      NaN     NaN         NaN
2     2006-01-03   1442.53300      NaN     NaN         NaN
3     2006-01-04   1457.21700      NaN     NaN         NaN
4     2006-01-05   1477.13100      NaN     NaN         NaN
...          ...          ...      ...     ...         ...
4378  2017-12-27   1263.94091  394.507  16.530     411.037
4379  2017-12-28   1299.86398  506.424  14.162     520.586
4380  2017-12-29   1295.08753  584.277  29.854     614.131
4381  2017-12-30   1215.44897  721.247   7.467     728.714
4382  2017-12-31   1107.11488  721.176  19.980     741.156

[4383 rows x 5 columns]

**Membuat range waktu dengan datetime**

In [ ]:
waktu =pd.date_range(start='1/1/2006',end= '31/12/2017', freq='H')
waktu = waktu.normalize()   # normalize() untuk mensetting waktu pada pukul 00:00 sehingga yang ditampilkan hanya tanggal/bulan/tahun saja.
waktu

<ipython-input-10-894c4f79f5c6>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  waktu =pd.date_range(start='1/1/2006',end= '31/12/2017', freq='H')

DatetimeIndex(['2006-01-01', '2006-01-01', '2006-01-01', '2006-01-01',
               '2006-01-01', '2006-01-01', '2006-01-01', '2006-01-01',
               '2006-01-01', '2006-01-01',
               ...
               '2017-12-30', '2017-12-30', '2017-12-30', '2017-12-30',
               '2017-12-30', '2017-12-30', '2017-12-30', '2017-12-30',
               '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', length=105169, freq=None)

### 1. Memasukkan data di atas ke dalam dataframe karena **jika ingin memiliki data timeseries** maka kita **memerlukan time index**.

**Membuat kolom date dengan tipe datetime**. Lalu **memasukkannya ke dalam Dataframe**.

In [ ]:
data["date"] = pd.DataFrame(waktu, columns=["date"])

data.head(10)

         Date  Consumption  Wind  Solar  Wind+Solar       date
0  2006-01-01     1069.184   NaN    NaN         NaN 2006-01-01
1  2006-01-02     1380.521   NaN    NaN         NaN 2006-01-01
2  2006-01-03     1442.533   NaN    NaN         NaN 2006-01-01
3  2006-01-04     1457.217   NaN    NaN         NaN 2006-01-01
4  2006-01-05     1477.131   NaN    NaN         NaN 2006-01-01
5  2006-01-06     1403.427   NaN    NaN         NaN 2006-01-01
6  2006-01-07     1300.287   NaN    NaN         NaN 2006-01-01
7  2006-01-08     1207.985   NaN    NaN         NaN 2006-01-01
8  2006-01-09     1529.323   NaN    NaN         NaN 2006-01-01
9  2006-01-10     1576.911   NaN    NaN         NaN 2006-01-01

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4383 entries, 0 to 4382
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4383 non-null   object
 1   Consumption  4383 non-null   float64
 2   Wind         2920 non-null   float64
 3   Solar        2188 non-null   float64
 4   Wind+Solar   2187 non-null   float64
 5   date         4383 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 205.6+ KB

Lalu, jika ingin **date** atau **Date** bagian **bulan** menggunakan **string**. Maka date harus diubah terlebih dahulu ke dalam string.


rumus : tanggal_datetime = datetime.**strptime(tanggal_string, format_tanggal)**

Selain itu, kita juga bisa **menentukan tanggal** yang kita inginkan melalui.

In [ ]:
# Membuat tanggal
tanggal =pd.date_range('1/01/2000','1/11/2000',freq='B')
tanggal


# Merubah ke dataframe
tanggal=pd.DataFrame(tanggal,columns=["date"])
tanggal

# Mensetting tanggal ke tanggal 28 semua
?????

TypeError: ignored

### 2. Cara kedua yaitu dengan mengubah data **"Date"** yang sudah ada ke **datetime** **jika ingin memiliki data timeseries** maka kita **memerlukan time index**.:

In [ ]:
data["Date"] = pd.to_datetime(data["Date"])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4383 entries, 0 to 4382
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4383 non-null   datetime64[ns]
 1   Consumption  4383 non-null   float64
 2   Wind         2920 non-null   float64
 3   Solar        2188 non-null   float64
 4   Wind+Solar   2187 non-null   float64
 5   date         4383 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(4)
memory usage: 205.6 KB