# **17 September 2023**

In [ ]:
import numpy as np
import pandas as pd

Jika **kolom terlalu banyak** dan ingin ditampilkan semua. Maka menggunakan **set_option()**.

nilai None pada rumus **set_option()** berarti sejumlah kolom yang tidak terbatas. Dalam hal ini, nilai display.max_columns diatur ke None agar semua kolom dapat ditampilkan dalam sebuah data frame di pandas

In [ ]:
canada="/content/Canada.xlsx"

data=pd.read_excel(canada, sheet_name="Canada by Citizenship")
pd.set_option('display.max_columns', None)
data.head(30)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 43 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   209 non-null    object
 1   Unnamed: 1   198 non-null    object
 2   Unnamed: 2   199 non-null    object
 3   Unnamed: 3   199 non-null    object
 4   Unnamed: 4   198 non-null    object
 5   Unnamed: 5   199 non-null    object
 6   Unnamed: 6   198 non-null    object
 7   Unnamed: 7   199 non-null    object
 8   Unnamed: 8   198 non-null    object
 9   Unnamed: 9   198 non-null    float64
 10  Unnamed: 10  198 non-null    float64
 11  Unnamed: 11  198 non-null    float64
 12  Unnamed: 12  198 non-null    float64
 13  Unnamed: 13  198 non-null    float64
 14  Unnamed: 14  198 non-null    float64
 15  Unnamed: 15  198 non-null    float64
 16  Unnamed: 16  198 non-null    float64
 17  Unnamed: 17  198 non-null    float64
 18  Unnamed: 18  198 non-null    float64
 19  Unnamed: 19  198 non-null    float64
 20  Unnamed: 20  198 non-null    float64
 21  Unnamed: 21  198 non-null    float64
 22  Unnamed: 22  198 non-null    float64
 23  Unnamed: 23  198 non-null    float64
 24  Unnamed: 24  198 non-null    float64
 25  Unnamed: 25  198 non-null    float64
 26  Unnamed: 26  198 non-null    float64
 27  Unnamed: 27  198 non-null    float64
 28  Unnamed: 28  198 non-null    float64
 29  Unnamed: 29  198 non-null    float64
 30  Unnamed: 30  198 non-null    float64
 31  Unnamed: 31  198 non-null    float64
 32  Unnamed: 32  198 non-null    float64
 33  Unnamed: 33  198 non-null    float64
 34  Unnamed: 34  198 non-null    float64
 35  Unnamed: 35  198 non-null    float64
 36  Unnamed: 36  198 non-null    float64
 37  Unnamed: 37  198 non-null    float64
 38  Unnamed: 38  198 non-null    float64
 39  Unnamed: 39  198 non-null    float64
 40  Unnamed: 40  198 non-null    float64
 41  Unnamed: 41  198 non-null    float64
 42  Unnamed: 42  198 non-null    float64
dtypes: float64(34), object(9)
memory usage: 73.0+ KB

In [ ]:
data.tail(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
207,Immigrants,Foreigners,Uzbekistan,935,Asia,5500,Central Asia,902,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,44.0,33.0,34.0,58.0,75.0,97.0,106.0,101.0,102.0,144.0,155.0,175.0,330.0,262.0,284.0,215.0,288.0,289.0,162.0,235.0,167.0
208,Immigrants,Foreigners,Vanuatu,909,Oceania,928,Melanesia,902,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
209,Immigrants,Foreigners,Venezuela (Bolivarian Republic of),904,Latin America and the Caribbean,931,South America,902,Developing regions,103.0,117.0,174.0,124.0,142.0,165.0,179.0,229.0,279.0,304.0,344.0,487.0,610.0,490.0,334.0,402.0,520.0,686.0,489.0,464.0,443.0,560.0,524.0,699.0,1224.0,1211.0,1192.0,1335.0,1239.0,1353.0,998.0,1452.0,1373.0,1022.0
210,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191.0,1829.0,2162.0,3404.0,7583.0,5907.0,2741.0,1406.0,1411.0,3004.0,3801.0,5870.0,5416.0,6547.0,5105.0,3723.0,2462.0,1752.0,1631.0,1419.0,1803.0,2117.0,2291.0,1713.0,1816.0,1852.0,3153.0,2574.0,1784.0,2171.0,1942.0,1723.0,1731.0,2112.0
211,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
212,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1.0,2.0,1.0,6.0,0.0,18.0,7.0,12.0,7.0,18.0,4.0,18.0,41.0,41.0,39.0,73.0,144.0,121.0,141.0,134.0,122.0,181.0,171.0,113.0,124.0,161.0,140.0,122.0,133.0,128.0,211.0,160.0,174.0,217.0
213,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11.0,17.0,11.0,7.0,16.0,9.0,15.0,23.0,44.0,68.0,77.0,69.0,73.0,46.0,51.0,41.0,34.0,72.0,34.0,51.0,39.0,78.0,50.0,46.0,56.0,91.0,77.0,71.0,64.0,60.0,102.0,69.0,46.0,59.0
214,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72.0,114.0,102.0,44.0,32.0,29.0,43.0,68.0,99.0,187.0,129.0,94.0,61.0,72.0,78.0,58.0,39.0,44.0,43.0,49.0,98.0,110.0,191.0,669.0,1450.0,615.0,454.0,663.0,611.0,508.0,494.0,434.0,437.0,407.0
215,Immigrants,Foreigners,Unknown,999,World,999,World,999,World,44000.0,18078.0,16904.0,13635.0,14855.0,14368.0,13303.0,17304.0,22279.0,27118.0,28397.0,25293.0,33100.0,34589.0,30717.0,25152.0,25986.0,23151.0,13468.0,10132.0,10743.0,7993.0,5938.0,4052.0,3739.0,4785.0,4583.0,4348.0,4197.0,3402.0,3731.0,2554.0,1681.0,1484.0
216,Immigrants,Both,Total,999,World,999,World,999,World,143137.0,128641.0,121175.0,89185.0,88272.0,84346.0,99351.0,152075.0,161585.0,191550.0,216451.0,232802.0,254787.0,256638.0,224382.0,212864.0,226071.0,216036.0,174195.0,189950.0,227455.0,250636.0,229049.0,221349.0,235822.0,262242.0,251640.0,236753.0,247244.0,252170.0,280687.0,248748.0,257903.0,259021.0

Karena beberapa **baris berisi NaN**, maka baris tersebut tidak akan digunakan. Pada code di bawah kita juga akan memilih sheet yang akan digunakan.

In [ ]:
data=pd.read_excel(canada,
                   sheet_name="Canada by Citizenship",
                   skiprows = range(20),
                   skipfooter= 2
                   )

# Setting kolom maksimal
pd.set_option('display.max_columns', None)


data.head(5)

data.tail(10)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
185,Immigrants,Foreigners,United States of America,905,Northern America,905,Northern America,901,Developed regions,9378,10030,9074,7100,6661,6543,7074,7705,6469,6790,5892,6054,6842,7435,5901,4890,5515,4753,4437,5196,5433,5604,4948,5543,6990,8394,9613,9463,10190,8995,8142,7676,7891,8501
186,Immigrants,Foreigners,Uruguay,904,Latin America and the Caribbean,931,South America,902,Developing regions,128,132,146,105,90,92,137,269,99,144,111,229,299,437,125,164,171,117,87,93,75,64,91,103,130,217,175,147,160,99,93,81,47,58
187,Immigrants,Foreigners,Uzbekistan,935,Asia,5500,Central Asia,902,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,12,44,33,34,58,75,97,106,101,102,144,155,175,330,262,284,215,288,289,162,235,167
188,Immigrants,Foreigners,Vanuatu,909,Oceania,928,Melanesia,902,Developing regions,0,0,0,0,0,0,0,0,0,0,1,0,4,0,0,0,0,0,0,0,0,1,0,1,1,1,1,0,0,1,0,0,0,0
189,Immigrants,Foreigners,Venezuela (Bolivarian Republic of),904,Latin America and the Caribbean,931,South America,902,Developing regions,103,117,174,124,142,165,179,229,279,304,344,487,610,490,334,402,520,686,489,464,443,560,524,699,1224,1211,1192,1335,1239,1353,998,1452,1373,1022
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,3801,5870,5416,6547,5105,3723,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,2,1,6,0,18,7,12,7,18,4,18,41,41,39,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,17,11,7,16,9,15,23,44,68,77,69,73,46,51,41,34,72,34,51,39,78,50,46,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,114,102,44,32,29,43,68,99,187,129,94,61,72,78,58,39,44,43,49,98,110,191,669,1450,615,454,663,611,508,494,434,437,407

# **Perbaiki DataFrame**

**Merubah nama kolom** sehingga mudah dipahami

In [ ]:
data = data.rename(columns={'OdName': 'Country', 'REG': 'Regional', 'DEV': 'Development', 'AreaName':'Benua', 'DevName':'Status'})
data.head(5)

,Type,Coverage,Country,AREA,Benua,Regional,RegName,Development,Status,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1

**Hapus kolom** yang tidak akan digunakan

In [ ]:
data.drop(["Type","AREA","Regional","Development","RegName","Coverage"], axis=1, inplace=True)
data

,Country,Benua,Status,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Developed regions,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Viet Nam,Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,3801,5870,5416,6547,5105,3723,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Western Sahara,Africa,Developing regions,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
192,Yemen,Asia,Developing regions,1,2,1,6,0,18,7,12,7,18,4,18,41,41,39,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217
193,Zambia,Africa,Developing regions,11,17,11,7,16,9,15,23,44,68,77,69,73,46,51,41,34,72,34,51,39,78,50,46,56,91,77,71,64,60,102,69,46,59
194,Zimbabwe,Africa,Developing regions,72,114,102,44,32,29,43,68,99,187,129,94,61,72,78,58,39,44,43,49,98,110,191,669,1450,615,454,663,611,508,494,434,437,407

Menentukan **apa yang akan divisualisasikan**.

Namun sebelum itu, pastikan data sudah benar dan tidak ada missing valuenya.

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 37 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  195 non-null    object
 1   Benua    195 non-null    object
 2   Status   195 non-null    object
 3   1980     195 non-null    int64
 4   1981     195 non-null    int64
 5   1982     195 non-null    int64
 6   1983     195 non-null    int64
 7   1984     195 non-null    int64
 8   1985     195 non-null    int64
 9   1986     195 non-null    int64
 10  1987     195 non-null    int64
 11  1988     195 non-null    int64
 12  1989     195 non-null    int64
 13  1990     195 non-null    int64
 14  1991     195 non-null    int64
 15  1992     195 non-null    int64
 16  1993     195 non-null    int64
 17  1994     195 non-null    int64
 18  1995     195 non-null    int64
 19  1996     195 non-null    int64
 20  1997     195 non-null    int64
 21  1998     195 non-null    int64
 22  1999     195 non-null    int64
 23  2000     195 non-null    int64
 24  2001     195 non-null    int64
 25  2002     195 non-null    int64
 26  2003     195 non-null    int64
 27  2004     195 non-null    int64
 28  2005     195 non-null    int64
 29  2006     195 non-null    int64
 30  2007     195 non-null    int64
 31  2008     195 non-null    int64
 32  2009     195 non-null    int64
 33  2010     195 non-null    int64
 34  2011     195 non-null    int64
 35  2012     195 non-null    int64
 36  2013     195 non-null    int64
dtypes: int64(34), object(3)
memory usage: 56.5+ KB

In [ ]:
data.describe()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,508.394872,566.989744,534.723077,387.435897,376.497436,358.861538,441.271795,691.133333,714.389744,843.241026,964.379487,1064.148718,1136.856410,1138.712821,993.153846,962.625641,1026.076923,989.153846,824.241026,922.143590,1111.343590,1244.323077,1144.158974,1114.343590,1190.169231,1320.292308,1266.958974,1191.820513,1246.394872,1275.733333,1420.287179,1262.533333,1313.958974,1320.702564
std,1949.588546,2152.643752,1866.997511,1204.333597,1198.246371,1079.309600,1225.576630,2109.205607,2443.606788,2555.048874,3158.730195,2952.093731,3330.083742,3495.220063,3613.336444,3091.492343,3321.045004,3070.761447,2385.943695,2887.632585,3664.042361,3961.621410,3660.579836,3623.509519,3710.505369,4425.957828,3926.717747,3443.542409,3694.573544,3829.630424,4462.946328,4030.084313,4247.555161,4237.951988
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.500000,1.000000,1.000000,2.000000,3.000000,6.500000,11.500000,9.500000,10.500000,14.500000,19.500000,15.000000,16.000000,16.000000,22.000000,18.500000,21.500000,19.000000,28.500000,25.000000,31.000000,31.000000,36.000000,40.500000,37.500000,42.500000,45.000000
50%,13.000000,10.000000,11.000000,12.000000,13.000000,17.000000,18.000000,26.000000,34.000000,44.000000,38.000000,51.000000,74.000000,85.000000,76.000000,91.000000,118.000000,114.000000,106.000000,116.000000,138.000000,169.000000,165.000000,161.000000,191.000000,210.000000,218.000000,198.000000,205.000000,214.000000,211.000000,179.000000,233.000000,213.000000
75%,251.500000,295.500000,275.000000,173.000000,181.000000,197.000000,254.000000,434.000000,409.000000,508.500000,612.500000,657.500000,655.000000,722.500000,545.000000,550.500000,603.500000,612.500000,535.500000,548.500000,659.000000,793.500000,686.000000,673.500000,756.500000,832.000000,842.000000,899.000000,934.500000,888.000000,932.000000,772.000000,783.000000,796.000000
max,22045.000000,24796.000000,20620.000000,10015.000000,10170.000000,9564.000000,9470.000000,21337.000000,27359.000000,23795.000000,31668.000000,23380.000000,34123.000000,33720.000000,39231.000000,30145.000000,29322.000000,22965.000000,21049.000000,30069.000000,35529.000000,36434.000000,31961.000000,36439.000000,36619.000000,42584.000000,33848.000000,28742.000000,30037.000000,29622.000000,38617.000000,36765.000000,34315.000000,34129.000000

# Berdasarkan **tahun**


Dibagian bawah kolom sudah ada. Namun, kita bandingkan dengan perhitungan manual.

# Berdasarkan **Country**

Pada kolom sudah dituliskan. Tapi coba bandingkan dengan perhitungan manual.

In [ ]:
data.groupby("Country").sum()

<ipython-input-11-6a6b3ce247b7>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby("Country").sum()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
Albania,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
Algeria,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
American Samoa,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Andorra,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Viet Nam,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,3801,5870,5416,6547,5105,3723,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
Western Sahara,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
Yemen,1,2,1,6,0,18,7,12,7,18,4,18,41,41,39,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217
Zambia,11,17,11,7,16,9,15,23,44,68,77,69,73,46,51,41,34,72,34,51,39,78,50,46,56,91,77,71,64,60,102,69,46,59
Zimbabwe,72,114,102,44,32,29,43,68,99,187,129,94,61,72,78,58,39,44,43,49,98,110,191,669,1450,615,454,663,611,508,494,434,437,407

# Berdasarkan **Benua**

In [ ]:
data.groupby("Benua").sum()

<ipython-input-12-d657d87133da>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby("Benua").sum()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Benua,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Africa,3951,4363,3819,2671,2639,2650,3782,7494,7552,9894,11012,14228,19242,16531,13072,14806,15700,14471,13791,15996,20346,24292,22710,23366,28192,27523,29188,28284,29890,34534,40892,35441,38083,38543
Asia,31025,34314,30214,24696,27274,23850,28739,43203,47454,60256,72829,89964,90752,98737,88852,90424,103030,106383,90929,106844,134544,148083,137653,131769,134850,159253,149054,133459,139894,141434,163845,146894,152218,155075
Europe,39760,44802,42720,24638,22287,20844,24370,46698,54726,60893,68301,57938,64123,62937,62531,55764,55642,48841,36719,35639,38215,42779,36798,34556,38082,35955,33053,33495,34692,35078,33425,26778,29177,28691
Latin America and the Caribbean,13081,15215,16769,15427,13678,15171,21179,28471,21924,25060,27942,36827,37853,33840,21341,20262,18645,17174,13830,15088,16898,20067,19317,20263,22181,24747,24676,26011,26547,26867,28818,27856,27173,24950
Northern America,9378,10030,9074,7100,6661,6543,7074,7705,6469,6790,5895,6057,6846,7438,5902,4891,5516,4753,4437,5196,5433,5604,4948,5543,6990,8394,9613,9463,10190,8995,8142,7677,7892,8503
Oceania,1942,1839,1675,1018,878,920,904,1200,1181,1539,2075,2495,2871,2566,1967,1565,1552,1263,1021,1055,1276,1818,1685,1800,1788,1585,1473,1693,1834,1860,1834,1548,1679,1775

# Berdasarkan **Status Wilayah Asal**

In [ ]:
data["Status"].unique()

# Ternyata para imigran berasal dari negara berkembang dan negara maju. Mari lihat total dari negara berkembang dan negara maju

data.groupby("Status").sum()

<ipython-input-13-eb8df8bfd155>:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby("Status").sum()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Status,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Developed regions,51143,56707,53240,32504,29675,28052,32224,55500,62129,68967,75465,65368,72649,72520,70325,62359,63070,55322,42678,42605,45469,50634,43620,42137,47325,46695,45071,45591,47664,46805,44158,36946,39682,39712
Developing regions,47994,53856,51031,43046,43742,41926,53824,79271,77177,95465,112589,142141,149038,149529,123340,125353,137015,137563,118049,137213,171243,192009,179491,175160,184758,210762,201986,186814,195383,201963,232798,209248,216540,217825

## Melakukan **Selecting Column**

Terdapat 2 cara, yaitu :
1. df.nama_column
2. **df["nama_column"]**  => this is** more** powerfull and **effective**


*   df_can.loc[label]
*   df_can.iloc[index]

In [ ]:
data.Country

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
190          Viet Nam
191    Western Sahara
192             Yemen
193            Zambia
194          Zimbabwe
Name: Country, Length: 195, dtype: object

In [ ]:
# Jika ingin mengambil 1 kolom

data["Country"]


# Jika ingin mengambil beberapa kolom

data[["Country", 2003, 2004, 2005, 2006, 2007]]

            Country  2003  2004  2005  2006  2007
0       Afghanistan  3479  2978  3436  3009  2652
1           Albania   853  1450  1223   856   702
2           Algeria  3072  3616  3626  4807  3623
3    American Samoa     0     0     0     1     0
4           Andorra     2     0     0     1     1
..              ...   ...   ...   ...   ...   ...
190        Viet Nam  1713  1816  1852  3153  2574
191  Western Sahara     0     0     0     1     0
192           Yemen   113   124   161   140   122
193          Zambia    46    56    91    77    71
194        Zimbabwe   669  1450   615   454   663

[195 rows x 6 columns]

## Melakukan **Selecting Row**

Terdapat 2 cara, yaitu :
*   df_can.loc[label]
*   df_can.iloc[index]

Melakukan **Setting index** pada columns "Country".

In [ ]:
data.set_index("Country", inplace=True)

In [ ]:
# Cara mengakses japan tanpa melakukan index pada "Country"
# data[data["Country"]=="Japan"]

# Dengan menggunakan iloc
data.iloc[87]

# Dengan menggunakan loc  => Tapi, tidak tahu caranya

data.loc["Japan"]

Benua                  Asia
Status    Developed regions
1980                    701
1981                    756
1982                    598
1983                    309
1984                    246
1985                    198
1986                    248
1987                    422
1988                    324
1989                    494
1990                    379
1991                    506
1992                    605
1993                    907
1994                    956
1995                    826
1996                    994
1997                    924
1998                    897
1999                   1083
2000                   1010
2001                   1092
2002                    806
2003                    817
2004                    973
2005                   1067
2006                   1212
2007                   1250
2008                   1284
2009                   1194
2010                   1168
2011                   1265
2012                   1214
2013                    982
Name: Japan, dtype: object

### Melakukan **Transpose**



Metode **squeeze()** pada pandas digunakan untuk mengubah DataFrame dengan satu kolom menjadi Series. Jika DataFrame hanya memiliki satu kolom, maka metode ini akan menghasilkan Series. Jika DataFrame memiliki lebih dari satu kolom atau lebih dari satu baris, maka objek tersebut tidak akan berubah

In [ ]:
data[data.index=="Japan"].T.squeeze()

Benua                  Asia
Status    Developed regions
1980                    701
1981                    756
1982                    598
1983                    309
1984                    246
1985                    198
1986                    248
1987                    422
1988                    324
1989                    494
1990                    379
1991                    506
1992                    605
1993                    907
1994                    956
1995                    826
1996                    994
1997                    924
1998                    897
1999                   1083
2000                   1010
2001                   1092
2002                    806
2003                    817
2004                    973
2005                   1067
2006                   1212
2007                   1250
2008                   1284
2009                   1194
2010                   1168
2011                   1265
2012                   1214
2013                    982
Name: Japan, dtype: object

In [ ]:
# Contoh slicing menggunakan loc


data.loc["Japan",[2010,2011,2012,2013]]
data.iloc[87, 3:9]

1981    756
1982    598
1983    309
1984    246
1985    198
1986    248
Name: Japan, dtype: object

### **Merubah tipe judul kolom** menjadi **string**


Rumus = **df_can.columns = list(map(str, df_can.columns))**

- Fungsi **df_can.columns** digunakan untuk mengambil nama kolom dari DataFrame df_can.  
- Fungsi **map(str)** digunakan untuk mengubah tipe data setiap judul kolom menjadi string.
- Fungsi **list()** digunakan untuk mengubah hasil dari fungsi map() menjadi list.

In [ ]:
data.columns = list(map(str, data.columns))

data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, Afghanistan to Zimbabwe
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Benua   195 non-null    object
 1   Status  195 non-null    object
 2   1980    195 non-null    int64
 3   1981    195 non-null    int64
 4   1982    195 non-null    int64
 5   1983    195 non-null    int64
 6   1984    195 non-null    int64
 7   1985    195 non-null    int64
 8   1986    195 non-null    int64
 9   1987    195 non-null    int64
 10  1988    195 non-null    int64
 11  1989    195 non-null    int64
 12  1990    195 non-null    int64
 13  1991    195 non-null    int64
 14  1992    195 non-null    int64
 15  1993    195 non-null    int64
 16  1994    195 non-null    int64
 17  1995    195 non-null    int64
 18  1996    195 non-null    int64
 19  1997    195 non-null    int64
 20  1998    195 non-null    int64
 21  1999    195 non-null    int64
 22  2000    195 non-null    int64
 23  2001    195 non-null    int64
 24  2002    195 non-null    int64
 25  2003    195 non-null    int64
 26  2004    195 non-null    int64
 27  2005    195 non-null    int64
 28  2006    195 non-null    int64
 29  2007    195 non-null    int64
 30  2008    195 non-null    int64
 31  2009    195 non-null    int64
 32  2010    195 non-null    int64
 33  2011    195 non-null    int64
 34  2012    195 non-null    int64
 35  2013    195 non-null    int64
dtypes: int64(34), object(2)
memory usage: 60.4+ KB

Karena tipe judul kolom telah berubah menjadi string. Maka perlu **mendeklarasikan variabel berisi rentang waktu** yang bisa digunakan untuk melakukan visualisasi, dll.

In [ ]:
# Variabel rentang waktu yang bisa sewaktu-waktu dipanggil
years= list(map(str, range(1980, 2014)))

years

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

# **Filtering** based on **Criteria**

In [ ]:
# Contoh

data[data["Benua"]=="Asia"]

,Benua,Status,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
Armenia,Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,22,21,66,75,102,115,89,112,124,87,132,153,147,224,218,198,205,267,252,236,258,207
Azerbaijan,Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,17,18,23,26,38,62,54,77,98,186,167,230,359,236,203,125,165,209,138,161,57
Bahrain,Asia,Developing regions,0,2,1,1,1,3,0,2,10,9,6,9,9,11,14,10,17,28,14,27,34,13,17,15,12,12,12,22,9,35,28,21,39,32
Bangladesh,Asia,Developing regions,83,84,86,81,98,92,486,503,476,387,611,1115,1655,1280,1361,2042,2824,3378,2202,2064,3119,3831,2944,2137,2660,4171,4014,2897,2939,2104,4721,2694,2640,3789
Bhutan,Asia,Developing regions,0,0,0,0,1,0,0,0,0,1,0,2,2,1,1,4,2,2,1,3,6,6,8,7,1,5,10,7,36,865,1464,1879,1075,487
Brunei Darussalam,Asia,Developing regions,79,6,8,2,2,4,12,16,103,63,44,65,31,36,14,17,4,6,1,3,6,3,4,6,3,4,5,11,10,5,12,6,3,6
Cambodia,Asia,Developing regions,12,19,26,33,10,7,8,14,15,27,34,38,93,418,371,286,216,313,241,165,245,259,230,277,348,370,529,460,354,203,200,196,233,288
China,Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,2643,2758,4323,8076,14255,10846,9817,13128,14398,19415,20475,21049,30069,35529,36434,31961,36439,36619,42584,33518,27642,30037,29622,30391,28502,33024,34129
"China, Hong Kong Special Administrative Region",Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24,257,400,470,379,430,446,536,729,712,674,897,657,623,591,728,774
"China, Macao Special Administrative Region",Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,15,28,21,21,21,32,16,12,21,21,13,33,29
Cyprus,Asia,Developing regions,132,128,84,46,46,43,48,48,56,55,27,37,29,42,24,16,31,36,19,15,16,22,13,17,11,7,9,4,7,6,18,6,12,16
Democratic People's Republic of Korea,Asia,Developing regions,1,1,3,1,4,3,0,0,0,0,1,4,16,0,1,0,0,4,1,4,6,8,11,18,15,14,10,7,19,11,45,97,66,17
Georgia,Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,8,22,27,67,49,46,92,46,83,124,123,127,106,114,125,132,112,128,126,139,147,125
India,Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,10189,11522,10343,12041,13734,13673,21496,18620,18489,23859,22268,17241,18974,28572,31223,31889,27155,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087
Indonesia,Asia,Developing regions,186,178,252,115,123,100,127,213,270,260,227,252,243,278,262,205,231,166,165,525,1138,907,709,515,552,632,613,657,661,504,712,390,395,387
Iran (Islamic Republic of),Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,2989,3273,3781,3655,6250,6814,3959,2785,3956,6205,7982,7057,6208,5884,6169,8129,5918,6348,5837,7480,6974,6475,6580,7477,7479,7534,11291
Iraq,Asia,Developing regions,262,245,260,380,428,231,265,384,619,911,557,1013,1498,2103,1500,2034,2675,2564,2037,2159,2591,2821,2432,1515,1796,2226,1788,2406,3543,5450,5941,6196,4041,4918
Israel,Asia,Developing regions,1403,1711,1334,541,446,680,1212,1497,1389,1762,1596,1358,1259,1584,1699,2224,2515,2998,3172,2387,2510,2436,2539,2314,2788,2446,2625,2401,2562,2316,2755,1970,2134,1945
Japan,Asia,Developed regions,701,756,598,309,246,198,248,422,324,494,379,506,605,907,956,826,994,924,897,1083,1010,1092,806,817,973,1067,1212,1250,1284,1194,1168,1265,1214,982
Jordan,Asia,Developing regions,177,160,155,113,102,179,181,392,489,785,841,807,909,1141,1173,1006,1070,1317,999,1218,1511,1904,1499,1614,1733,1940,1827,1421,1581,1235,1831,1635,1206,1255
Kazakhstan,Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,3,24,42,56,152,593,884,537,450,501,418,542,545,506,408,436,394,431,377,381,462,348
Kuwait,Asia,Developing regions,1,0,8,2,1,4,4,9,19,19,26,31,96,109,99,130,187,108,121,80,114,107,74,72,74,66,35,62,53,68,67,58,73,48
Kyrgyzstan,Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,7,8,10,8,43,63,68,56,95,124,99,245,173,161,135,168,173,157,159,278,123
Lao People's Democratic Republic,Asia,Developing regions,11,6,16,16,7,17,21,20,22,44,34,33,63,44,52,40,24,31,16,31,36,40,49,22,38,42,74,53,32,39,54,22,25,15
Lebanon,Asia,Developing regions,1409,1119,1159,789,1253,1683,2576,3803,3970,7157,13568,12567,6915,4902,2751,2228,1919,1472,1329,1594,1903,2578,2332,3179,3293,3709,3802,3467,3566,3077,3432,3072,1614,2172
Malaysia,Asia,Developing regions,786,816,813,448,384,374,425,817,2072,2346,1917,1338,1486,1000,727,490,382,319,214,299,360,460,480,419,401,593,580,600,658,640,802,409,358,204
Maldives,Asia,Developing regions,0,0,0,1,0,0,0,0,0,0,0,0,3,3,0,0,0,0,1,0,1,0,1,0,1,0,0,2,1,7,4,3,1,1
Mongolia,Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,1,1,1,0,1,1,8,1,0,1,17,17,20,28,34,59,64,82,59,118,169,103,68,99
Myanmar,Asia,Developing regions,80,62,46,31,41,23,18,33,55,77,133,104,62,100,172,199,229,205,68,98,121,113,164,263,191,210,953,1887,975,1153,556,368,193,262
Nepal,Asia,Developing regions,1,1,6,1,2,4,13,6,13,4,23,29,32,40,31,66,132,155,104,157,236,272,363,313,404,607,540,511,581,561,1392,1129,1185,1308
Oman,Asia,Developing regions,0,0,0,8,0,0,0,3,0,1,5,0,5,1,12,11,2,7,4,3,7,12,7,11,12,14,18,16,10,7,14,10,13,11
Pakistan,Asia,Developing regions,978,972,1201,900,668,514,691,1072,1334,2261,2470,3079,4071,4777,4666,4994,9125,13073,9068,9979,15400,16708,15110,13205,13399,14314,13127,10124,8994,7217,6811,7468,11227,12603
Philippines,Asia,Developing regions,6051,5921,5249,4562,3801,3150,4166,7360,8639,11865,12509,12718,13670,20479,19532,15864,13692,11549,8735,9734,10763,13836,11707,12758,14004,18139,18400,19837,24887,28573,38617,36765,34315,29544
Qatar,Asia,Developing regions,0,0,0,0,0,0,1,0,1,0,2,6,5,3,2,4,4,7,3,7,4,21,4,4,5,11,2,5,9,6,18,3,14,6
Republic of Korea,Asia,Developing regions,1011,1456,1572,1081,847,962,1208,2338,2805,2979,2087,2598,3790,3819,3005,3501,3250,4093,4938,7108,7618,9619,7342,7117,5352,5832,6215,5920,7294,5874,5537,4588,5316,4509
Saudi Arabia,Asia,Developing regions,0,0,1,4,1,2,5,7,29,41,22,47,71,55,43,40,84,78,71,74,89,98,71,70,128,198,252,188,249,246,330,278,286,267
Singapore,Asia,Developing regions,241,301,337,169,128,139,205,372,808,1269,843,657,492,474,375,407,409,287,231,437,444,473,588,391,311,392,298,690,734,366,805,219,146,141
Sri Lanka,Asia,Developing regions,185,371,290,197,1086,845,1838,4447,2779,2758,3525,7266,13102,9563,7150,9368,6484,5415,3566,4982,6081,5861,5279,4892,4495,4930,4714,4123,4756,4547,4422,3309,3338,2394
State of Palestine,Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8,26,146,180,238,343,266,323,376,453,627,441,481,400,654,555,533,462
Syrian Arab Republic,Asia,Developing regions,315,419,409,269,264,385,493,927,864,1454,1791,1596,1172,1247,965,1053,942,859,892,823,924,1067,956,1085,1116,1458,1145,1056,919,917,1039,1005,650,1009
Tajikistan,Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,5,5,5,2,11,4,4,5,20,9,7,14,85,46,44,15,50,52,47,34,39
Thailand,Asia,Developing regions,56,53,113,65,82,66,78,117,147,177,171,219,219,279,237,172,195,152,201,246,258,309,547,439,392,575,500,487,519,512,499,396,296,400
Turkey,Asia,Developing regions,481,874,706,280,338,202,257,397,346,488,767,941,1116,1316,908,732,638,679,777,806,1101,1184,1301,1338,1736,2065,1638,1463,1122,1238,1492,1257,1068,729
Turkmenistan,Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,10,6,4,2,7,10,11,22,16,40,26,37,13,20,30,20,20,14
United Arab Emirates,Asia,Developing regions,0,2,2,1,2,0,5,4,1,17,7,23,27,11,13,8,33,27,25,24,27,41,37,32,41,31,42,37,33,37,86,60,54,46
Uzbekistan,Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,12,44,33,34,58,75,97,106,101,102,144,155,175,330,262,284,215,288,289,162,235,167
Viet Nam,Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,3801,5870,5416,6547,5105,3723,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
Yemen,Asia,Developing regions,1,2,1,6,0,18,7,12,7,18,4,18,41,41,39,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217